#side {
    height: 100%;
    background-color: #444;
    overflow: hidden;
    transition: max-width 1s ease-in-out, min-width 1s ease-in-out;
}

#side.hide {
    max-width: 0;
    min-width: 0;
    pointer-events: none;
}

#side.show {
    max-width: 300px;
    min-width: 300px;
}

.side-header {
    background-color: #333;
    padding: 14px;
    text-align: center;
}

.side-header h3 {
    color: #fff;
}

.side-content {
    padding: 10px 0 10px;
}