
.side-content #list button {
    border: none;
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 16px 0 16px 0px;
    color: #fff;
}

.side-content #list button:hover {
    background-color: #999;
    color: #fff;
    cursor: pointer;
}

.active {
    background-color: #999 !important;
    border-right: 5px solid red !important;
    font-size: 19px !important;
}